<div class="container fadeIn animated fast mb-5 pb-5">

    <h5 class="text-danger mt-5 mb-5" *ngIf="seccionC !== undefined">Zona {{seccionC.getNombre()}}</h5>
    <hr class="bg-danger">

    <div class="mt-2 p-2 pt-3 micont bg-light border rounded" *ngFor="let tema of temas">
        <button [routerLink]="['/hilo',grupo,seccion,tema.getidtema()]" class="btn btn-outline-primary mb-2 btn-block">
            <div class="row p-1 mb-1 text-left">
                <div class="col-8">
                    {{tema.nombretema}}
                </div>
                <div class="col-4 text-right">
                    <p class="text-dark">Ultima Actualizacion: {{tema.fecha | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
            </div>
        </button>
        <div class="" *ngIf="idu === tema.getCreador() || admin">
            <button class="btn btn-sm btn-danger mr-1" (click)="eliminarbut(tema.getidtema(), tema.getCreador())">Eliminar Hilo</button>
            <button class="btn btn-sm btn-warning" (click)="editarbut(tema.getidtema(), tema.getCreador(), tema.getNombreTema())">Editar Nombre</button>
        </div>
    </div>


    <div class="row justify-content-end bg-white mt-4 p-2" *ngIf="temaC == true && tema != undefined">
        <button type="button" (click)="mostrarModalInfo()" class="btn btn-outline-danger">
            Nuevo Hilo
        </button>
    </div>
</div>

<ng-template #myModalInfo let-modal>

    <div class="modal-content" *ngIf="!editar">
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 text-center bg-danger p-3">
                    <h2 class="text-white">Crear Hilo Nuevo</h2>
                </div>
                <form class="col-12 mt-3" (ngSubmit)="enviarTema(formulario)" #formulario="ngForm">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre del Hilo <span class="text-danger fadeIn animated" *ngIf="formulario.submitted && formulario.controls['tema'].errors"> nombre no valido</span></label>
                        <input type="text" required class="form-control" name="tema" [(ngModel)]="tema.nombretema" id="exampleFormControlInput1">
                    </div>
                    <div class="m-3 p-1" *ngIf="!(formulario.submitted && formulario.controls['mensaje'].errors)"> </div>
                    <span class="text-danger fadeIn animated" *ngIf="formulario.submitted && formulario.controls['mensaje'].errors">Contenido no valido</span>
                    <ckeditor class="ck-editor__editable" name="mensaje" [(ngModel)]="mensaje.mensaje" required [editor]="editor"></ckeditor>
                    <div class="text-center">

                        <button type="submit" class="btn btn-outline-danger mt-3">Enviar Comentario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-content" *ngIf="editar">
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 text-center bg-danger p-3">
                    <h2 class="text-white">Editar Hilo</h2>
                </div>
                <form class="col-12 mt-3" (ngSubmit)="actualizar(formulario)" #formulario="ngForm">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre del Hilo<span class="text-danger fadeIn animated" *ngIf="formulario.submitted && formulario.controls['tema'].errors"> nombre no valido</span></label>
                        <input type="text" required class="form-control" name="tema" [(ngModel)]="temaed.nombretema" id="exampleFormControlInput1">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-danger mt-3">Enviar Comentario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #mymodalbor let-modal>
    <div class="modal-content">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-12 text-center bg-danger p-3">
                    <h2 class="text-white">Deseas Borrar</h2>
                </div>
                <div class="col-12 mt-3 mb-3">
                    <button type="button" (click)="eliminar()" class="btn btn-outline-danger mt-3">
                        Borrar
                    </button>
                    <button type="button" (click)="noborrar()" class="btn btn-outline-success mt-3">
                        No Borrar
                    </button>

                </div>
            </div>
        </div>
    </div>
</ng-template>