<div class="container fadeIn animated fast mb-5 pb-5">
    <div class="mt-5 p-4 micont bg-white">
        <div class="p-4">
            <h5 class="text-success">{{seccion}}</h5>
            <hr class="bg-dark">


            <div *ngFor="let tema of temas">
                <button (click)="navegar(tema.id_tema)" class="btn btn-outline-primary btn-block">
                    <div class="row p-1 mb-1 text-left">
                        <div class="col-8">
                            {{tema.nombretema}}
                        </div>
                        <div class="col-4 text-right">
                            Temas: 3
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>