<div class="container mt-5 fadeIn animated fast">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Home</h1>
            <p class="lead">This is the fucking home.</p>
        </div>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Noticia 1</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nulla, similique cupiditate ab officia voluptatibus. Corporis, delectus? Ex reprehenderit repellat quo reiciendis alias, maxime, dolorem saepe sequi soluta odio porro.</p>
        <hr class="my-4">
        <p>Admin.</p>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Noticia 1</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nulla, similique cupiditate ab officia voluptatibus. Corporis, delectus? Ex reprehenderit repellat quo reiciendis alias, maxime, dolorem saepe sequi soluta odio porro.</p>
        <hr class="my-4">
        <p>Admin.</p>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Noticia 1</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nulla, similique cupiditate ab officia voluptatibus. Corporis, delectus? Ex reprehenderit repellat quo reiciendis alias, maxime, dolorem saepe sequi soluta odio porro.</p>
        <hr class="my-4">
        <p>Admin.</p>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Noticia 1</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nulla, similique cupiditate ab officia voluptatibus. Corporis, delectus? Ex reprehenderit repellat quo reiciendis alias, maxime, dolorem saepe sequi soluta odio porro.</p>
        <hr class="my-4">
        <p>Admin.</p>
    </div>
</div>