<div class="container mt-3 mb-5 p-3 fadeIn animated fast">
    <div class="jumbotron">
        <h1 class="display-4">Editar Usuario</h1>
        <form (ngSubmit)="aceptarcambios(formulario)" #formulario="ngForm" class="mb-5">
            <div class="form-group">
                <label for="nombre">Usuario</label>
                <!-- <span class="text-danger fadeIn animated"> es requerido con un minimo de 4 letras</span> -->
                <span class="text-danger fadeIn animated" *ngIf="!validanombre || (formulario.submitted && formulario.invalid && formulario.controls['usuario'].errors)"> usuario ya existe</span>
                <input type="text" required minlength="4" (blur)="buscaUser($event.target.value)" [(ngModel)]="usuariocambiar.usuario" class="form-control" name="usuario" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <!-- <span class="text-danger fadeIn animated"> es requerido</span> -->
                <span class="text-danger fadeIn animated" *ngIf="!validaemail"> email ya existe</span>
                <span class="text-danger fadeIn animated" *ngIf="formulario.submitted && formulario.invalid && formulario.controls['email'].errors"> Email no valido</span>
                <input type="email" class="form-control" (blur)="buscaEmail($event.target.value)" name="email" [(ngModel)]="usuariocambiar.email" required email placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre Completo</label>
                <span class="text-danger fadeIn animated" *ngIf="formulario.submitted && formulario.invalid && formulario.controls['nombreapellido'].errors"> es necesario el nombre y los apellidos</span>
                <input type="text" class="form-control" name="nombreapellido" [(ngModel)]="usuariocambiar.nombreappe" required minlength="10" placeholder="Nombre y Apellidos">
            </div>
            <div class="form-check-inline">
                <label class="mr-1" *ngIf="">Sexo:</label>
                <input class="form-check-input mr-1 ml-1" [checked]="issexo('hombre')" type="radio" name="sexo" required id="exampleRadios1" value="hombre">
                <label class="mr-1 ml-1">Hombre</label>
                <input class="form-check-input ml-2" [checked]="issexo('mujer')" type="radio" name="sexo" required id="exampleRadios2" value="mujer">
                <label>Mujer</label>
                <span class="text-danger fadeIn animated ml-1 pb-2" *ngIf="formulario.submitted && formulario.invalid && formulario.controls['sexo'].errors">Es necesario seleccionar alguno</span>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Pais</label>
                <span class="text-danger fadeIn animated" *ngIf="formulario.submitted && formulario.invalid && formulario.controls['pais'].errors"> es necesario seleccionar un pais</span>
                <select class="form-control" required name="pais">
                <option value="España" [selected]="isselected('España')">España</option>
                <option value="Alemania" [selected]="isselected('Alemania')">Alemania</option>
                <option value="Francia" [selected]="isselected('Francia')">Francia</option>
                <option value="Italia" [selected]="isselected('Italia')">Italia</option>
                <option value="Inglaterra" [selected]="isselected('Inglaterra')">Inglaterra</option>
              </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Aficiones</label>
                <div class="row">
                    <div *ngFor="let value of mArray" class="col-6">
                        <input type="checkbox" class="mr-1" name="aficiones" value="{{value}}" (click)="chaficion(value)" [checked]="ischeck(value)"><label>{{value}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Introduce Contraseña Antigua</label>
                <span class="text-danger fadeIn animated" *ngIf="!contrasenaviejaintroducida">, actualmente la contraseña no es valida</span>
                <input type="password" (blur)="detectacontrasena($event.target.value)" class="form-control" placeholder="Contraseña">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-2 ">Actualizar</button>
            </div>
        </form>

        <hr class="bg-dark mb-5">
        <h1 class="display-4">Editar Contraseña</h1>
        <form (ngSubmit)="cambioscontrasena(form)" #form="ngForm">
            <div class="form-row">
                <div class="col-6">
                    <label>Introduce Contraseña Antigua</label>
                    <span class="text-danger fadeIn animated" *ngIf="!masdeocho"> debe de tener mas de 8 caracteres</span>
                    <span class="text-danger fadeIn animated" *ngIf="!nosoniguales"> actualmente ambas no son iguales</span>
                    <p class="text-danger fadeIn animated mb-4" *ngIf="nosoniguales || masdeocho"> </p>
                    <input type="password" (blur)="nuevacontra($event.target.value, true)" class="form-control" placeholder="Contraseña">
                </div>
                <div class="col-6">
                    <label>Introduce Contraseña Antigua</label>
                    <span class="text-danger fadeIn animated" *ngIf="!nosoniguales">, actualmente no son iguales</span>
                    <p class="mb-4"></p>
                    <input type="password" (blur)="nuevacontra($event.target.value, false)" class="form-control" placeholder="Contraseña">
                </div>
            </div>
            <div class="form-group">
                <label>Introduce Contraseña Antigua</label>
                <span class="text-danger fadeIn animated" *ngIf="!contrasenaviejaintroducidaparacontra">, actualmente la contraseña no es valida</span>
                <input type="password" (blur)="detectacontrasenaparacontra($event.target.value)" class="form-control" placeholder="Contraseña">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-2 ">Actualizar</button>
            </div>
        </form>
    </div>

    <ng-template #mymodalbor let-modal>
        <div class="modal-content">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-12 text-center bg-danger p-3">
                        <h2 class="text-white">Actualizado con exito</h2>
                    </div>
                    <div class="col-12 mt-3 mb-3 text-center">
                        <button type="button" (click)="salir()" class="btn btn-outline-danger mt-3">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>