<app-navbar></app-navbar>

<div class="container fadeIn animated fast">

    <div class="mt-5 p-4 micont bg-white">
        <div class="p-4">
            <h5 class="text-success">Principal</h5>
            <hr class="bg-dark">
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        General
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        Electrónica/Informática
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        Viajes
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        InverForo
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="mt-5 p-4 micont bg-white">
        <div class="p-4">
            <h5 class="text-success">Principal</h5>
            <hr class="bg-dark">
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        General
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        Electrónica/Informática
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        Viajes
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        InverForo
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="mt-5 p-4 micont bg-white fadeIn animated fast">
        <div class="p-4">
            <h5 class="text-success">Principal</h5>
            <hr class="bg-dark">
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        General
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        Electrónica/Informática
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        Viajes
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="misbordesinternos p-2 row mb-2">
                    <div class="col-8">
                        InverForo
                    </div>
                    <div class="col-4 text-right">
                        Temas: 3
                    </div>
                </div>
            </a>
        </div>
    </div>



</div>

<app-footer></app-footer>