<div class="container fadeIn animated fast mb-5 pb-5">
    <div class="mt-5 p-4 micont bg-white">


        <div class="p-4" *ngFor="let value of grupos">
            <h5 class="text-success">{{value.nombre}}</h5>
            <button *ngIf="admin" (click)="eliminarbut(value.getIdgrupo())" class="btn btn-danger mr-1">
                Eliminar
            </button>
            <button *ngIf="admin" (click)="editarFu(value.getIdgrupo())" class="btn btn-warning">
                Editar Grupo
            </button>

            <hr class="bg-dark">
            <app-zonaforo [grupoid]="value.id_grupo"></app-zonaforo>
        </div>
    </div>

    <div class="row text-right align-content-end mt-3" *ngIf="admin">
        <div class="col-12">
            <button (click)='mostrarModalInfo()' class="btn btn-outline-danger">
                Crear Nuevo Grupo
            </button>
        </div>
    </div>

</div>




<ng-template #mymodalforo let-modal>
    <div class="modal-content">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-12 text-center bg-danger p-3">
                    <h2 class="text-white" *ngIf="!editar">Crear Nuevo Grupo</h2>
                    <h2 class="text-white" *ngIf="editar">Editar Grupo</h2>
                </div>
                <div class="col-12 mt-3 mb-3">
                    <form (ngSubmit)="enviarGrupo(formulario)" #formulario="ngForm">
                        <div class="m-3 p-1" *ngIf="!formulario.submitted"> </div>
                        <span class="text-danger fadeIn animated" *ngIf="formulario.submitted && formulario.controls['nombre'].errors">Contenido no valido</span>
                        <input type="text" required [(ngModel)]="grupo.nombre" name="nombre" class="form-control">
                        <div class="row">
                            <div class="col-12 text-right">
                                <button type="submit" class="btn btn-outline-danger mt-3">
                                Nueva Seccion
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #mymodalbor let-modal>
    <div class="modal-content">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-12 text-center bg-danger p-3">
                    <h2 class="text-white">Deseas Borrar</h2>
                </div>
                <div class="col-12 mt-3 mb-3">
                    <button type="button" (click)="borrar()" class="btn btn-outline-danger mt-3">
                        Borrar
                    </button>
                    <button type="button" (click)="noborrar()" class="btn btn-outline-success mt-3">
                        No Borrar
                    </button>

                </div>
            </div>
        </div>
    </div>
</ng-template>