<div class="container mt-3 p-3 fadeIn animated fast">
    <div class="jumbotron">
        <h1 class="display-4">Login</h1>
        <form (ngSubmit)="login(formulario)" #formulario="ngForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <span class="text-danger fadeIn animated" *ngIf="formulario.submitted && !valido"> Usuario o contraseña echenique</span>
                <input type="text" class="form-control" [(ngModel)]="usuario.usuario" name="usuario" placeholder="Nombre Usuario">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" [(ngModel)]="usuario.contrasena" name="contrasena" placeholder="Contraseña">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Guardar Usuario</label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a [routerLink]="[ '/register']" class="btn btn-outline-info ml-3">Registrar</a>
        </form>
    </div>
</div>